## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
list(np.random.randint(10000,size=3)), np.random.randint(10000,size=3)

([1547, 3295, 4167], array([2047, 3284,  822]))

In [3]:
data = {'國家': ['Taiwan','China','USA'],
        '人口':list(np.random.randint(10000,size=3)) }
data

{'人口': [3834, 2163, 6086], '國家': ['Taiwan', 'China', 'USA']}

In [4]:
data_df = pd.DataFrame(data)
data_df

     人口      國家
0  3834  Taiwan
1  2163   China
2  6086     USA